<div id="container">
  <h1>Banque</h1>

  <div id="activity-container">
    <div id="accounts-field">
      <h3>Accounts:</h3>
    </div>
  </div>

  <br/>
  <button id="deposit">Make a deposit</button>
  <button id="withdraw">Withdraw or Transfer</button>
  <button id="new-account">Add an account</button>
</div>